a {
    color: white;
    text-decoration: none;
}

.zoom {
    overflow: hidden;
}

.zoom img {
    transition: transform 0.1s linear;
}

.zoom:hover img {
    transform: scale(1.2);
}

@media print {

    #addItemBtn,
    #facturaForm input[type="submit"] {
        display: none;
    }
}