a {
    color: white;
    text-decoration: none;
}

[data-bs-theme="dark"] .nav-link {
  color: #fff !important;
}

[data-bs-theme="dark"] .nav-link:hover {
  background-color: #0d6efd;
  color: #fff;
  border-radius: .375rem;
}

.zoom {
    overflow: hidden;
}

.zoom img {
    transition: transform 1s linear;
}

.zoom:hover img {
    transform: scale(1.2);
}

@media print {

    #addItemBtn,
    #facturaForm input[type="submit"] {
        display: none;
    }
}