#ocultar {
    display: block;
}

.card:hover {
    box-shadow: 0px 0px 10px #d6d6d6;
    /* cursor: pointer; */
}

.form-switch:hover {
    cursor: pointer;
}

.table-hover:hover {
    cursor: pointer;
}