@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

.nav-link.active {
  font-weight: 700;
}

.table > :not(caption) > * > * {
  padding-block: 0.65rem;
}

.tabla-wrapper {
  border-radius: 0.5rem;
  overflow: hidden;
  border: 2px solid #dee2e6;
}

.tabla-wrapper .table {
  margin-bottom: 0;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:focus-visible {
  outline: none;
  box-shadow: none;
}

@media print {

    #addItemBtn,
    #facturaForm button[type="submit"] {
        display: none;
    }
}