.nav-link.active {
  font-weight: 700;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:focus-visible {
  outline: none;
  box-shadow: none;
}

@media print {

    #addItemBtn,
    #facturaForm button[type="submit"] {
        display: none;
    }
}